<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/js/login.js">
    <title>Your Website</title>
</head>
<body >
    <header>
        <h1>Your Website</h1>
        <nav>
            <ul>
                {% comment %} {{request.path}} {% endcomment %}
                <li class="active"><a href="{% url "index" %}">Home</a></li>
                <li><a href="{% url "about" %}">About</a></li>
                <li><a href="{% url "contact" %}">Contact</a></li>
                <li><a href="{% url "service" %}">Service</a></li>
            </ul>
        </nav>
    </header>
